[Desktop Entry]
Name=Windows App for Linux
Comment=Unofficial client for Windows App - Access Azure Virtual Desktops on Linux
Exec=windows-app-for-linux
Icon=io.github.joshschools.WindowsAppForLinux
Type=Application
Categories=Network;WebBrowser;RemoteAccess;
StartupNotify=true
MimeType=x-scheme-handler/windows-cloud;

